body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 5%;
}

#title {
  background-color: #ff616d;
  color: whitesmoke;
}

.navbar-brand {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.navbar {
  padding-left: 0;
  padding-right: 10%;
}

.nav-item {
  padding-right: 10%;
  font-size: 1.2rem;
  font-weight: 200;
}

.container-fluid {
  padding-top: 3%;
  padding-left: 14%;
  padding-right: 9%;
  padding-bottom: 5%;
}

.sites-buttons {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

@keyframes wagging-dog {
  0% {
    transform: rotate(16.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(16.5deg);
  }
}

@keyframes patting-dog {
  0% {
    transform: rotate(0deg);
    width: 45%;
  }
  100% {
    transform: rotate(16.5deg);
    width: 55%;
  }
}

.apple-android-buttons {
  padding-top: 10%;
}

.annimate-dog {
  transform: rotate(16.5deg);
  width: 45%;
}
.annimate-dog:hover {
  animation: wagging-dog 1s ease-in-out infinite;
  cursor: grab;
}

.annimate-dog:active {
  animation: patting-dog 0.5s linear forwards;
  cursor: grabbing;
}

.dog-kennel {
  text-align: center;
  padding-top: 10%;
}

.style-features {
  text-align: center;
}

.style-feature {
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  background-color: whitesmoke;
  border: 2px solid gainsboro;
}
