* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5em;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 5%;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
}

#title {
  background-color: #ff616d;
  color: whitesmoke;
}

.navbar-brand {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.navbar {
  padding-left: 0;
  padding-right: 10%;
}

.nav-item {
  padding-right: 10%;
  font-size: 1.2rem;
  font-weight: 200;
}

.container-fluid {
  padding-top: 3%;
  padding-left: 14%;
  padding-right: 9%;
  padding-bottom: 5%;
}

.style-button {
  padding-top: 5%;
  text-align: left;
}

@keyframes wagging-dog {
  0% {
    transform: rotate(16.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(16.5deg);
  }
}

@keyframes patting-dog {
  0% {
    transform: rotate(0deg);
    width: 45%;
  }
  100% {
    transform: rotate(16.5deg);
    width: 55%;
  }
}

.apple-android-buttons {
  padding-top: 10%;
}

.annimate-dog {
  transform: rotate(16.5deg);
  width: 45%;
}
.annimate-dog:hover {
  animation: wagging-dog 1s ease-in-out infinite;
  cursor: grab;
}

.annimate-dog:active {
  animation: patting-dog 0.5s linear forwards;
  cursor: grabbing;
}

.dog-kennel {
  text-align: center;
  padding-top: 10%;
}

.style-features {
  text-align: center;
  padding: 2% 2% 0 2%;
  background-color: whitesmoke;
}

.style-feature-parent {
  padding: 4%;
  background-color: whitesmoke;
  border: 0 none;
}

.style-feature-parent .style-feature {
  color: #000000c0;
  background-color: whitesmoke;
  border: 1px solid gainsboro;
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.style-feature-parent .style-feature .feature-icon {
  font-size: 4rem;
  color: #ff616db0;
}

.style-feature-parent:hover {
  padding: 0;
}

.style-feature-parent:hover .style-feature {
  background-color: gainsboro;
  border: 1px solid grey;
  color: #000;
  font-size: 1.3rem;
}

.style-feature-parent:hover .style-feature .feature-icon {
  font-size: 5rem;
  color: #ff616d;
}

.feature-padding {
  padding-left: 15%;
  padding-right: 15%;
}
