* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5em;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 5%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3em;
  line-height: 1.5;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
}

em {
  font-size: 1.5em;
}

#title {
  background-color: #ff616d;
  color: whitesmoke;
}

.navbar-brand {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.navbar {
  padding-left: 0;
  padding-right: 10%;
}

.nav-item {
  padding-right: 10%;
  font-size: 1.2rem;
  font-weight: 200;
}

.container-fluid {
  padding-top: 3%;
  padding-left: 14%;
  padding-right: 9%;
  padding-bottom: 10%;
}

.apple-android-buttons {
  padding-bottom: 5%;
}

.style-button-col {
  padding: 0;
  padding-top: 5%;
  padding-left: 1%;
  text-align: left;
}

.style-button {
  width: 170px;
}

.dog {
  transform: rotate(16.5deg);
  position: absolute;
  top: 120px;
  right: 25%;
}

#features {
  padding: 5%;
  background-color: whitesmoke;
  position: relative;
}

#features .card {
  background-color: gainsboro;
}

#features .feature {
  margin-top: 4%;
  margin-bottom: 4%;
}

#features .feature-icon {
  font-size: 5em;
}

#features .feature-card:hover .feature-icon {
  color: #ff616d;
}

#testimonials {
  text-align: center;
  background-color: #f76773;
  color: whitesmoke;
}

.testimonial-image {
  width: 30%;
  border-radius: 100%;
  margin: 3%;
}

.testimonial-item {
  padding: 7% 15%;
}

#press {
  background-color: #f76773;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  margin: 2%;
  width: 15%;
}

#pricing {
  padding: 8% 10% 0;
  background-color: whitesmoke;
}

#pricing .card {
  background-color: gainsboro;
}

#pricing .pricing-column {
  padding-top: 4%;
  padding-bottom: 10%;
}

#cta {
  text-align: center;
  background-color: #ff616d;
  color: whitesmoke;
  padding-top: 100px;
  padding-bottom: 115px;
}

#cta .style-button {
  width: 170px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
}

#cta h3 {  
  padding-left: 33%;
  padding-right: 33%;
}

#footer {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: whitesmoke;
  color: #00000040;
}

.social-icon {
  padding: 10px;
  font-size: 2em;
  color: #000000A0;
}

@media (max-width: 1250px) {
  h2 {
    font-size: 2.5em;
  }

  
  em {
    font-size: 1.25em;
  }

  .dog-kennel {
    text-align: center;
  }

  .dog {
    position: static;
    transform: rotate(0deg);
    right: 0;
    padding-top: 10%;
  }

  .apple-android-buttons {
    text-align: center;
  }

  .style-button-col {
    text-align: center;
  }

  .container-fluid {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 10%;
  }

  .testimonial-image {
    width: 40%;
  }

  .press-image {
    width: 18%;
  }

  #pricing h3 {
    font-size: 2em;
  }

  #cta h3 {   
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: 990px) {
  h2 {
    font-size: 1.5em;
    font-weight: 500;
  }

  em {
    font-size: 0.85em;
  }

  .navbar {
    padding-right: 0%;
  }

  .testimonial-image {
    width: 50%;
  }

  .press-image {
    width: 21%;
    margin: 1%;
  }

  #cta h3 {   
    padding-left: 5%;
    padding-right: 5%;
  }

  #pricing h2 {
    font-size: 2em;
  }
}
